@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Keshokova st. 32<br />
    Nalchik, RF<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alloaolla@gmail.com">alloaolla@gmail.com</a><br />
</address>
